/*
// $primary-color: #556270;
// $secondary-color: #4ECDC4;
*/
$primary-background-color: #556270;
/*
// $secondary-background-color: #;
// $primary-brand-color: #;
// $secondary-brand-color: #;
//
// #4ECDC4
// #C7F464
// #FF6B6B
// #C44D58
*/

@custom-media --xm-viewport only screen and (min-width: 32em);